<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<select id="examples" onchange="changePartial()">
  <option value="mqtt">Select the generator type</option>
  <option value="mqtt">MQTT</option>
  <option value="websocket">Web Socket</option>
</select>
<script>

function changePartial(){
    var partial = document.getElementById("examples").value;
    const urlParams = new URLSearchParams(window.location.search);
    urlParams.set('generator', partial);
    window.location.search = urlParams;
}
</script>
<main>
  <%if ( generator == 'mqtt') { %>
       <%- include('../partials/generators/mqtt'); %>
  <% } else { %>
    <%- include('../partials/generators/websocket'); %>
 <% } %>


</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>